body {
  background: #03506f;
  overflow-x: hidden;
  z-index: 1;
}
.logo-div {
  display: flex;
  justify-content: center;
}
.social-link-div {
  position: fixed;
  top: 10px;
  left: 10px;
}
.git-icon {
  font-size: 2.5rem;
  color: rgb(194, 194, 10);
}
.editor-icon-div {
  position: fixed;
  top: 15px;
  right: 15px;
}
.editor-icon {
  font-size: 2.3rem;
  color: rgb(194, 194, 10);
  cursor: pointer;
}
.controls-div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -338.42px;
  background: #0a043c;
  overflow-y: scroll;
  transition: 0.25s ease-in-out;
}
.controls-div-inactive {
  right: -338.42px;
}
.controls-div-active {
  right: 0;
}
.control-head {
  font-size: 1.5rem;
  color: rgb(194, 194, 10);
  font-family: "Roboto Slab";
  text-align: center;
  padding: 10px 70px;
}
.close-btn {
  position: absolute;
  top: -20px;
  left: 10px;
  color: rgb(194, 194, 10);
  font-size: 1.7rem;
  cursor: pointer;
  font-family: "Roboto Slab";
}
.upload-div {
  display: block;
  margin-top: 60px;
  animation: highlight 2.5s;
  animation-iteration-count: infinite;
}
@keyframes highlight {
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.up-text {
  text-align: center;
}
.upload {
  color: rgb(194, 194, 10);
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Roboto Slab";
}

.up-icon {
  padding-left: 30px;
}
.disp-img {
  width: 60%;
  margin: 0 auto;
  padding-right: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 80px;
}

.outpic {
  width: 100%;
}

.basic-adjust {
  color: rgb(194, 194, 10);
  font-family: "Roboto Slab";
  font-size: 1.6rem;
  padding: 10px 10px;
}
.prop {
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 1.3rem;
  color: rgb(194, 194, 10);
}
.prop-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.input {
  width: 60%;
  margin-left: 20%;
}
.apply-btn {
  width: 50%;
  padding: 10px;
  margin-left: 25%;
  margin-top: 20px;
  background: rgb(194, 194, 10);
  font-family: "Roboto Slab";
  font-size: 0.9rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
hr {
  width: 80%;
  color: white;
  opacity: 0.7;
  margin-top: 10px;
}
.align-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}
.flipy {
  transform: scaleY(-1);
}
.flipx {
  transform: scaleX(-1);
}
.flip-selected {
  background-color: #92920b;
}
.style {
  color: rgb(194, 194, 10);
  font-family: "Roboto Slab";
  font-size: 1rem;
}
.style-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.style-div div {
  padding: 5px 0;
}
.border-color-input {
  display: block;
  margin: 0 auto;
}
input[type="range"].slider {
  width: 60%;
  margin: 14px 15%;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type="range"].slider::-webkit-slider-runnable-track {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"].slider::-webkit-slider-thumb {
  margin-top: -14px;
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"].slider:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type="range"].slider::-moz-range-track {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"].slider::-moz-range-thumb {
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
input[type="range"].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"].slider::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"].slider::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"].slider::-ms-thumb {
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"].slider:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"].slider:focus::-ms-fill-upper {
  background: #367ebd;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type="range"].slider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
