body {
  background: #03506f;

  overflow-x: hidden;
  z-index: 1;
}
.logo-div {
  display: flex;
  justify-content: center;
}
.social-link-div {
  position: fixed;
  top: 10px;
  left: 10px;
}
.git-icon {
  font-size: 2.5rem;
  color: rgb(194, 194, 10);
}
.editor-icon-div {
  position: fixed;
  top: 15px;
  right: 15px;
}
.editor-icon {
  font-size: 2.3rem;
  color: rgb(194, 194, 10);
  cursor: pointer;
}
.controls-div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -338.42px;
  background: #0a043c;
  overflow-y: scroll;
  transition: 0.25s ease-in-out;
}
.controls-div-inactive {
  right: -338.42px;
}
.controls-div-active {
  right: 0;
}
.control-head {
  font-size: 1.3rem;
  color: rgb(194, 194, 10);
  font-family: "Roboto Slab";
  text-align: center;
  padding: 10px 85px;
}
.close-btn {
  position: absolute;
  top: -20px;
  left: 10px;
  color: rgb(194, 194, 10);
  font-size: 1.7rem;
  cursor: pointer;
  font-family: "Roboto Slab";
}
.upload-div {
  display: block;
  margin-top: 80px;
  animation: highlight 2.5s;
  animation-iteration-count: infinite;
}
@keyframes highlight {
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.up-text {
  text-align: center;
}
.upload {
  color: rgb(194, 194, 10);
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Roboto Slab";
}

.up-icon {
  padding-left: 30px;
}
.disp-img {
  width: 60%;
  margin: 0 auto;
  padding-right: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 80px;
}

.outpic {
  width: 100%;
}
.out {
  transform: scaleX(-1);
}

.basic-adjust {
  color: rgb(194, 194, 10);
  font-family: "Roboto Slab";
  font-size: 1.2rem;
  padding: 10px 10px;
}
.prop {
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 1rem;
  color: rgb(194, 194, 10);
}
.prop-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.input {
  width: 60%;
  margin-left: 20%;
}
.apply-btn {
  width: 50%;
  padding: 10px;
  margin-left: 25%;
  margin-top: 20px;
  background: rgb(194, 194, 10);
  font-family: "Roboto Slab";
  font-size: 0.9rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
hr {
  width: 80%;
  color: white;
  opacity: 0.7;
  margin-top: 10px;
}
.align-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}
.flipy {
  transform: scaleY(-1);
}
.flipx {
  transform: scaleX(-1);
}
